<%- include("partials/header"); %>
<div id="pageHead">
  <h1 class="title">ImageHub.</h1>
  <h2 class="title">Find your Zen.</h2>
  <img src="/images/nature2.jpg" alt="nature2.jpg" class="title-image">

  <form action="/login" method="post">
    <div class="submit">
      <input type="submit" name="submit" class="btn btn-dark" value="Login">
    </div>

    <div class="submit">
      <input type="submit" name="submit" class="btn btn-light" value="Register">
    </div>
  </form>
</div>

<div class="siteDescription">
  <div class="container">
    <div class="row">
      <div class="descripField col-sm-4">
        <i class="fas fa-camera-retro picture"></i>
        <p class="description">ImageHub is a place to see and hear the most relaxing aspects of nature you can imagine.</p>
      </div>
      <div class="descripField col-sm-4">
        <i class="fas fa-comment picture"></i>
        <p class="description">Each photo will be tagged with a randomly selected cheesy caption to truly capture the moment.</p>
      </div>
      <div class="descripField col-sm-4">
        <i class="fas fa-smile picture"></i>
        <p class="description">Whenever life has got you down come to ImageHub!</p>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); %>
