<%- include("partials/header"); %>
<div class="form-group loginPage">
  <h1 class="title login">Login</h1>
  <form autocomplete="off" action="/login" method="post">
    <label class="title login" for="username">Username: </label>
    <input class= "form-control" type="text" name="username"><br>
    <label class="title login" for="password">Password: </label>
    <input class= "form-control passShift" type="password" name="password"><br>
    <input type="submit" value="Submit" class="btn btn-light">
  </form>
</div>

<i class="fas fa-spa tree-left"></i>

<i class="fas fa-spa tree-right"></i>


<%- include("partials/footer"); %>
