<%- include("header"); %>
<div class="loginBackground">
  <h1 class="title">Register</h1>
  <form autocomplete="off" action="/register" method="post">
    <label class="title" for="username">Username: </label>
    <input type="text" name="username"><br>
    <label class="title" for="password">Password: </label>
    <input type="password" name="password"><br>
    <input type="submit" value="Submit" class="btn btn-light">
  </form>
</div>



<%- include("footer"); %>
