<%- include("partials/header"); %>
<div class="form-group registerPage">
  <h1 class="title">Register</h1>
    <form autocomplete="off" action="/register" method="post" class="login-form">
        <input class="form-control" type="text" name="firstName" placeholder="First Name" required><br>
        <input type="text" name="lastName" class="form-control"placeholder="Last Name" required><br>
        <input type="text" name="username" class="form-control" placeholder="Username" required><br>
        <input type="password" name="password" class="form-control" placeholder="Password" required><br>
        <button type="submit" class="btn btn-light">Register</button>
    </form>
</div>



<i class="fas fa-spa reg-tree-left"></i>

<i class="fas fa-spa reg-tree-right"></i>


<%- include("partials/footer"); %>
