body {
  text-align: center;
  background-color: #ffd98e;
}

form {
  position: relative;
}

.loginPage {
  color: #616f39;
  padding-top: 10em;
}

.registerPage {
  color: #616f39;
  padding-top: 7em;
}

.login-form {
  width: 40%;
  margin: auto;
}

.tree-left {
  position: relative;
  color: #616f39;
  font-size: 6rem;
  bottom: 2em;
  right: 3em;
}

.tree-right {
  position: relative;
  color: #616f39;
  font-size: 6rem;
  bottom: 2em;
  left: 3em;
}

.reg-tree-left {
  position: relative;
  color: #616f39;
  font-size: 6rem;
  bottom: 2.5em;
  right: 3em;
}

.reg-tree-right {
  position: relative;
  color: #616f39;
  font-size: 6rem;
  bottom: 2.5em;
  left: 3em;
}

.btn {
  margin: 0 5px 15px 5px;
}

.submit{
  display: inline;
}

.title {
  font-family: 'Cormorant Unicase', serif;
}

.title-image {
  border-radius: 25px;
  margin: 1em;
}

.picture{
  font-size: 3em;
}

.description{
  color: #616f39;
  padding: 0.7em 1.5em;
}

.descripField {
  padding: 25px 0;
  width: 50%;
  height: auto;
}

.loginBackground {
  background-color: #ffd98e;
}

.user-image {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 10%;
}

.user-login-header {
  color: #616f39;
  padding-top: 0.5em;
}

.user-profile {
  padding: 3em;
  border-radius: 100%;
}

.user-quote {
  padding: 0.5em 1em;
  font-family: fantasy;
  color: #616f39;
}



#pageHead {
  background-color: #616f39;
}

#pageHead .title {
  color: #ffd98e;
}

#siteDescription {
  background-color: #ffb677;
}
